.navListUl{
    margin-top: 20px;
    height: 100px;
    z-index: 1;
    li{
        position: relative;
        margin: 8px 0;
        list-style: none;
        .tooltip{
            position: absolute;
            top: -20px;
            left: calc(100% + 14px);
            z-index: 3;
            background: var(--line-color);
            box-shadow: 0 5px 10px var(--char-color);
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            opacity: 0;
            white-space: nowrap;
            pointer-events: none;
            transition: 0s;
        }
        &:hover .tooltip{
            opacity: 1;
            pointer-events: auto;
            transition: all 0.4s ease;
            top: 50%;
            transform: translateY(-50%);
        }
    }

}